<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 footer-info">
        <a href="#" class="adminLogin">login as admin</a>
      </div>
    </div>
  </div>
</footer>
