<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
  <a hrfe="#" style="cursor:pointer" class="primary badge badge-secondary">Egrade</a>
  <div class="collapse navbar-collapse container-fluid" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active homeButton">
        <a class="nav-link " href="/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Results
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/results">Current Term</a>
          <a class="dropdown-item" href="#">Current Year</a>
          <a class="dropdown-item" href="#">Overall Results</a>
        </div>
      </li>
      <li class="nav-item msgButton">
        <a class="nav-link " href="/messages">Messages<span class="badge badge-secondary"><%= data.messages.unread %>
  </span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Logout</a>
          <a class="dropdown-item" href="#">Preferences</a>
          <a class="dropdown-item" href="#">Settings</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="profile">
      <a class="nav-link " href="#"><i class='fas fa-user-circle' style='font-size:45px;color:#011940;'></i></a>
  </div>
</nav>
