<nav>
  <div class="navigation">
      <a href="/home"><span class="home">
        HOME
      </span></a>
      <a href="/results"><span class="results">
        RESULTS
      </span></a>
      <a href="/result"><span class="calender">
        CALENDER
      </span> </a>
  </div>
</nav>
