<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <main class="bg-dark" style="height:100vh;">
      <div class="container">
        <div class="row" id="loginRow">
          <div id="login" class="login bg-light m-4 p-4">
            <div class="logo text-center bg-light mb-5 col-12" id="logo">
              <img src="/static/images/logo.png" alt="" style="border-radius:50%">
            </div>
                <form class="" action="index.html" method="post">
                  <label for="username"><input class="inputField bg-light" type="text" name="username" value="" placeholder="username" required></label>
                  <br>
                  <label for="password"><input class="inputField bg-light" type="text/password" name="password" value="" required placeholder="password"></label>
                  <br>
                  <button type="button" name="button" class="btn btn-primary">Login</button>
                </form>
              <p class="m-1"><a href="#">create an account</a></p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
