<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="login">
            <form class="" action="index.html" method="post">
              <input type="text" name="username" value="" placeholder="username" required>
              <input type="text" name="password" value="" required placeholder="password">
              <input type="button" name="" value="login" action="submit">
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
