<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school calender</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body>
    <%include partials/nav.ejs %>
    <main>
      <div class="container pt-3">
        <div class="row">
          <p>
              <div class="col-12">
                <a class="btn btn-primary pr-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Unread
                </a>
                <a class="btn btn-primary pr-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Read
                </a>
              </div>
              <div class="col-12">
          </p>
          <div class="collapse show bg-light text-primary" id="collapseExample">
            <br>
                <div class="card card-body" style="width:100%">
                  <ul class="p-4">
                      <a>
                        <li class="messageContainer">
                            <span class="sender m-4">From: <%=data.messages.from%><span>
                              <br>
                            <span class="subject m-4">Subject: <strong>Perfomance in previous exam</strong></span>
                            <br>
                            <p class="m-4">
                            <span class="messageBody">
                              <%=data.messages.message%>
                            </span>
                          </p>
                        </li>
                      </a>
                  </ul>
                </div>
          </div>
          <div class="collapse bg-dark" id="collapseExample">
            <br>
                <div class="card card-body">
                  There are no unread messages
                </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
