<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My results</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
    <style>
      footer{
        position: absolute;
        bottom:0px;
      }
    </style>
  </head>
  <body>
    <% include partials/nav.ejs%>
      <main class=" bg-dark">
        <br>
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                  <div class="card text-center">
                      <div class="card-header">
                        Form 1
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">2009</h5>
                        <p class="card-text">Class Teacher: Ms Samhungu</p>
                        <a href="#" class="btn btn-primary viewResults b0">View Results</a>
                      </div>
                      <div class="card-footer text-muted">
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header">
                          Form 2
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">2010</h5>
                          <p class="card-text">Class Teacher: Ms Samhungu</p>
                          <a href="#" class="btn btn-primary viewResults b1">View Results</a>
                        </div>
                        <div class="card-footer text-muted">
                        </div>
                      </div>
                  </div>
            </div>
            <div class="row py-4">
              <div class="col-md-6">
                  <div class="card text-center">
                      <div class="card-header">
                        Form 3
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">2011</h5>
                        <p class="card-text">Class Teacher: Ms Samhungu</p>
                        <a href="#" class="btn btn-primary viewResults b2">View Results</a>
                      </div>
                      <div class="card-footer text-muted">
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header">
                          Form 4
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">2012</h5>
                          <p class="card-text">Class Teacher: Ms Samhungu</p>
                          <a href="#" class="btn btn-primary viewResults b3">View Results</a>
                        </div>
                        <div class="card-footer text-muted">
                        </div>
                      </div>
                  </div>
            </div>
        </div>
      </main>
      <div class="popup text-center p-4 bg-light hidden">
        <strong class="text-primary">Form 1 first Term</strong>
        <div class="row">
          <div class="col">
          <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
              <th>Subject</th>
              <th>Grade</th>
              <th>Evaluation</th>
            </tr>
            <% data.forEach((item)=>{%>
              <tr class="danger">
                <td><%=item.course%></td>
                <td><%= item.grade%></td>
                <td><%= item.evaluation%></td>
              </tr>
            <%})%>
          </table>
        </div>
        </div>
        <i class='fas fa-times-circle popupButton' style=''></i>
      </div>
  </body>
</html>
