body{
  height:100vh;
}
.navigation{
  display:inline;
  background:gray;
  color:skyblue;
  font-family:sans-serif;
  font-size: 30px;
  text-align: center;
}
span{
  margin:5px;
}
.data{
  padding-top: 5px;
  border:1px solid gray;
}
.footer-info{
  height:100px;
  background:black;
  margin-top:10px;
}
.header{
  color:red;
}
.newsHeading{
  font-weight:bold;
  font:30px;
  color:black;
  padding-top:10px;
}
.newsBody{
  font-family: monospace;
  height:100px;
  overflow-y: hidden;
  padding-top:10px;
}
.adminLogin{
  position:absolute;
  bottom:0px;
  left:5px;
}
.roundedBorder{
  border-radius: 50%;
}
footer{
  width: 100vw;
  background-color: inherit;
}

.articles{
  margin:10px;
  border:2px skyblue;
}
.popup{
  position:absolute;
  top:10%;
  left:25%;
  width:50%;
  height:60%;
  background:grey;
  border-radius:10px;
}
.blur{
        filter: blur(10px);
}
.popupButton{
  position:absolute;
  bottom:5%;
}
.hidden{
  display:none;
}
